<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/navbars.css">
    <link rel="stylesheet" type="text/css" href="css/task.css">
    <script src="js/requests.js" defer></script>
    <script src="js/account.js" defer></script>
    <title>Week Planner</title>
</head>

<body>

<h1>Change Username</h1>
<label for="newUsername">New Username:</label>
<input type="text" id="newUsername" name="newUsername" autocapitalize="off" required>
<br>
<label for="password">Password:</label>
<input type="password" id="password" name="password" required>
<br>
<br>
<button onclick="changeUsername()">Change Username</button>

</body>

</html>