<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/navbars.css">
    <link rel="stylesheet" type="text/css" href="css/task.css">
    <script src="js/requests.js" defer></script>
    <script src="js/manipulateDOM.js" defer></script>
    <script src="js/main.js" defer></script>
    <title>Week Planner</title>
</head>

<body>

<h1>Change Password</h1>
<label for="password">Current Password:</label>
<input type="password" id="password" name="password" autocapitalize="off" required>
<br>
<label for="newPassword">New Password:</label>
<input type="password" id="newPassword" name="newPassword" required>
<br>
<label for="confirmNewPassword">Confirm New Password:</label>
<input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
<br>
<button onclick="changePassword()">Change Password</button>

</body>

</html>