<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/navbars.css">
    <link rel="stylesheet" type="text/css" href="css/task.css">
    <script src="js/requests.js" defer></script>
    <script src="js/manipulateDOM.js" defer></script>
    <title>Week Planner</title>
</head>

<body>

<h1>Delete Account</h1>
Password:<input type="password" id="password" name="password" required>
<br>
<br>
<button onclick="deleteAccount()">Delete Account</button>

</body>

</html>