<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/navbars.css">
    <link rel="stylesheet" type="text/css" href="css/task.css">
    <script src="js/requests.js" defer></script>
    <script src="js/createTrialData.js" defer></script>
    <script src="js/account.js" defer></script>
    <!-- <script src="js/manipulateDOM.js" defer></script> -->
    <!-- <script src="js/main.js" defer></script> -->
    <title>Week Planner</title>
</head>

<body>
<h1>Create Trial User</h1>
This is a 7 day trial user.
<br> Your data is not secure/encrypted.
<br> Please do not store any sensitive information.
<br> Your user will be deleted automatically after 7 days.
<br>
<br>
<br> Username:
<input type="text" id="username">
<br> Password:
<input type="password" id="password">
<br> Confirm Password:
<input type="password" id="confirmPassword">
<br>
<div id="message"></div>
<button onclick="createAccount()">Create</button>
</body>

</html>